<div class="flex justify-between m-4">
    <form
    class="flex flex-col items-start w-full"
   
    [formGroup]="form">
    <div class="flex w-full md:p-5 p-3 rounded-lg shadow bg-card">
            <mat-select 
            name="integrantes"
            class=" flex-auto text-lg font-medium leading-5" 
            [placeholder]="'Seleccione un usuario...'"
            [formControlName]="'integrantes'"
            [compareWith]="capareWithUser"
            multiple>
              <mat-option *ngFor="let user of integrantesTarjeta" [value]="user" >
                {{user.displayName}}
              </mat-option>
            </mat-select>
    </div>
    <div class="flex items-center mt-2">
        <button
            class="h-8 min-h-8 "
            mat-flat-button
            [color]="'primary'"
            [type]="'button'"
            (click)="save()">
            Añadir usuarios
        </button>
        <button
            class="ml-1 w-8 h-8 min-h-8"
            mat-icon-button
            [type]="'button'"
            (click)="close.emit(true)">
            <mat-icon
                class="icon-size-4"
                [svgIcon]="'heroicons_solid:x'"></mat-icon>
        </button>
    </div>
</form>
</div>