<div class="flex flex-col flex-auto  ">
    <ng-container >
        <div class="absolute top-0 right-0 pt-4 pr-4">
            <button
                mat-icon-button
                mat-dialog-close
                (click)="matDialogRef.close()"
                >
                <mat-icon
                    class="text-secondary"
                    [svgIcon]="'heroicons_outline:x'"></mat-icon>
            </button>
        </div>
    </ng-container>
    <div mat-dialog-content>
        <div
                class="flex flex-0 mb-2 items-center justify-center w-10 h-10 sm:mr-4 rounded-full text-blue-600 bg-blue-100 dark:text-blue-50 dark:bg-blue-600"
                >
                <mat-icon
                    class="text-current"
                    >fingerprint</mat-icon>
            </div>
        <p class="text-xl leading-6 font-medium mb-2">Listado de plantillas</p>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->
          
            <!-- Position Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Nombre </th>
              <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>
          
            <!-- Name Column -->
            <ng-container matColumnDef="listaTareas">
              <th mat-header-cell *matHeaderCellDef> Listado de tareas </th>
              <td mat-cell *matCellDef="let element">
                <mat-chip-option color="accent" *ngFor="let tarea of element.ListaTareas" selected>{{tarea.name}}</mat-chip-option>
              </td>
            </ng-container>
          
           
            <ng-container matColumnDef="acciones">
                <th mat-header-cell *matHeaderCellDef> Acciones </th>
                <td mat-cell *matCellDef="let element"> 
                    <button mat-icon-button (click)="seleccionarPlantilla(element)" color="success" >
                        <mat-icon> done_outline</mat-icon>
                    </button>
            </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 20]"
         showFirstLastButtons
         aria-label="Select page of periodic elements">
        </mat-paginator>
    </div>
    <div mat-dialog-actions>
        <button mat-flat-button (click)="matDialogRef.close()">Cancelar</button>
    </div>
</div>

