<div
    class="absolute inset-0 min-w-0 overflow-y-auto"
    cdkScrollable>

    <!-- Header -->
    <div class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 pb-22 sm:pt-12 sm:pb-28 sm:px-10 bg-default dark:bg-transparent">
        <div class="flex-1 min-w-0">
            <!-- Breadcrumbs -->
            <div>
                <div class="hidden sm:flex flex-wrap items-center font-medium">
                    <div>
                        <a class="whitespace-nowrap text-primary-500">Recibos</a>
                    </div>
                </div>
                <div class="flex sm:hidden">
                    <a
                        class="inline-flex items-center -ml-1.5 text-secondary font-medium"
                        [routerLink]="'./..'">
                        <mat-icon
                            class="icon-size-5 text-secondary"
                            [svgIcon]="'heroicons_solid:chevron-left'"></mat-icon>
                        <span class="ml-1">Back</span>
                    </a>
                </div>
            </div>
            <!-- Title -->
            <div class="mt-2">
                <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                    Tus Recibos
                </h2>
            </div>
        </div>
        <!-- Actions -->
        <div class="flex shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
           
            <!-- PERIODO -->
            <mat-form-field appearance="fill" class="example-form-field w-72">
                <mat-label>Periodo</mat-label>
                <input matInput [matDatepicker]="datepicker" [formControl]="periodo" >
                <mat-hint>Seleccione un periodo</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
                <mat-datepicker 
                (yearSelected)="setYear($event, datepicker)"
                [startView]="'multi-year'" 
                #datepicker>
                  <mat-datepicker-actions>
                    <button mat-button matDatepickerCancel>Cancelar</button>
                    <button mat-raised-button color="primary" (click)="getRecibos()"  matDatepickerApply>Buscar</button>
                  </mat-datepicker-actions>
                </mat-datepicker>
            </mat-form-field>
            <button
                class="ml-4"
                mat-flat-button
                [color]="'primary'"
                (click)="recibosSelected = undefined"
                *ngIf="recibosSelected"
                >
                <mat-icon>arrow_back</mat-icon>
                <span class="ml-2 mr-1">Volver Meses</span>
            </button>
            <button
                class="ml-4"
                mat-flat-button
                [color]="'primary'"
                (click)="firmar = true"
                *ngIf="recibosSelected"
                >
                <mat-icon>fingerprint</mat-icon>
                <span class="ml-2 mr-1">Firmar</span>
            </button>
            <button
            class="ml-4"
            mat-flat-button
            [color]="'primary'"
            (click)="upload = true; datosDetalle = undefined; matDrawer.open()"
            >
            <mat-icon>file_upload</mat-icon>
            <span class="ml-2 mr-1">Subir Recibos</span>
        </button>
        </div>
    </div>

    <mat-drawer-container class="-mt-16 rounded-t-2xl shadow overflow-hidden bg-card">

        <!-- Drawer -->
        <mat-drawer
            class="w-100 dark:bg-gray-900"
            [autoFocus]="false"
            [mode]="'side'"
            [opened]="'false'"
            [position]="'end'"
            #matDrawer>
            <!-- Demo sidebar -->
            <div *ngIf = "datosDetalle">
                <app-detalle-mes [cantidadRecibos]="cantidadRecibos" [datos]="datosDetalle" (close)="matDrawer.toggle()"></app-detalle-mes>
            </div>

            <div *ngIf="upload">
                <app-subir-recibos (close)="matDrawer.toggle()" (getRecibos)="getRecibos()"></app-subir-recibos>
            </div>
        </mat-drawer>

        <!-- Drawer content -->
        <mat-drawer-content class="flex flex-col">

            <!-- Main -->
            <div class="flex-auto p-6 sm:p-10 h-screen">

            <div *ngIf="!recibosSelected"
                class="flex flex-wrap -m-2 mt-2">
                <!-- Anios -->
                <ng-container *ngFor="let anio of anios; let indexAnio = index">
                    <!-- meses -->
                    <ng-container *ngFor="let mes of meses; let indexMes = index">
                        <div  class="relative w-40 h-40 m-2 p-4 shadow rounded-2xl bg-card">
                            <a
                                class="absolute z-20 top-1.5 right-1.5 w-8 h-8 min-h-8"
                                (click)="$event.preventDefault();upload = false;datosDetalle = undefined;assingDataToDetails(indexMes,recibos[anio][mes].length) ;matDrawer.open()"
                                mat-icon-button>
                                <mat-icon
                                    class="icon-size-5"
                                    [svgIcon]="'heroicons_solid:information-circle'"></mat-icon>
                            </a>
                            <a
                                class="z-10 absolute inset-0 flex flex-col p-4 "
                                >
                                <div class="aspect-[9/6]">
                                    <div class="flex items-center justify-center h-full cursor-pointer">
                                        <!-- Icon -->
                                        <div (click)="selectRecibos(recibos[anio][mes])" class="relative ">
                                            <mat-icon
                                                class="icon-size-14 text-hint opacity-50"
                                                [svgIcon]="'heroicons_solid:document'"></mat-icon>
                                            <div
                                                class="bg-red-600 absolute left-0 bottom-0 px-1.5 rounded text-sm font-semibold leading-5 text-white">
                                                PDF
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="flex flex-col flex-auto justify-center text-center text-sm font-medium">
                                    <div
                                        class="truncate"
                                        >{{mes}}</div>
                                    <ng-container >
                                        <div class="text-secondary truncate">Cantidad: {{recibos[anio][mes].length}}</div>
                                    </ng-container>
                                </div>
                            </a>
                        </div>
                    </ng-container>
                </ng-container>
                
            </div>
            <ng-container *ngIf="recibosSelected">
                <app-listado-mes [firmar]="firmar" [recibos]="recibosSelected" (valueFirmar)="firmar = $event" (recibosFirmados)="getRecibos();recibosSelected = undefined"></app-listado-mes>
            </ng-container>

            </div>

        </mat-drawer-content>

    </mat-drawer-container>

</div>
